<div class="text-center mb-2 pt-5" style="margin-top:150px;">
    <div class="mb-3">
        <img src="./../img/articles.png" class="rounded" alt="..." style="width:190px; height:160px;">
    </div>
    <label class="fs-2 fw-bold">문의게시판</label>
</div>