<!--  site info  -->
<!--position-absolute bottom-0 end-0-->
<div class="container-fluid bg-dark text-white px-4 py-5">
    <p class="">[31538] 충남 아산시 순천향로22, 공학관 9209호 | Email: taeheon1213@gmail.com, hni4004@sch.ac.kr<br>
        COPYRIGHT ⓒ 2023. DOBI. All Rights Reserved.</p>
</div>
</body>
</html>