<div class="text-center mb-2 pt-5" style="margin-top:150px;">
    <div class="mb-3">
        <img src="./../img/my.png" class="rounded" alt="..." style="width:160px; height:160px;">
    </div>
    <label class="fs-2">마이페이지</label>
</div>
<div class="border-top border-bottom py-2">
    <ul class="nav justify-content-center align-items-center">
        <li class="nav-item font-weight-bold">
            <a class="nav-link active text-dark" aria-current="page" href="/user/info" style="text-decoration:none;">정보수정</a>
        </li>
        <li class="nav-item font-weight-bold mx-3">
            |
        </li>
        <li class="nav-item font-weight-bold">
            <a class="nav-link text-dark" href="/user/penalty" style="text-decoration:none;">페널티</a>
        </li>
        <li class="nav-item font-weight-bold mx-3">
            |
        </li>
        <li class="nav-item font-weight-bold">
            <a class="nav-link text-dark" href="#" style="text-decoration:none;">회원탈퇴</a>
        </li>
    </ul>
</div>