{{>layouts/header}}
<!--content-->
<div class="text-center pt-5 " style="background-color: #ebebeb; padding-bottom: 100px;" >
    <div class="mx-auto bg-white p-4" style="height:420px; width:420px; margin-top:180px;">
        <div class="m-auto">
            <label class="fw-bold fs-1 my-3">LOGIN</label>
            <form>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Email" required>
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="d-grid gap-2 d-md-flex my-3 justify-content-md-center">
                    <button class="btn me-md-2 my-3 text-white" type="submit" style="width:350px; height:50px; background-color: #7C81AD;">
                        로그인
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{{>layouts/footer}}