input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
a {
  text-decoration: none;
}
#manage-delete-btn > a{
    color: red;
}
#manage-delete-btn > a:hover{
    color: white;
}